@{
    ViewBag.Title = "Confirmar usuario";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Gracias por confirmar tu usuario. Por favor @Html.ActionLink("Haga clic aquí para ingresar", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
