@{
    ViewBag.Title = "Página principal";
}

<div class="jumbotron">
    <h1>Ctrl Web</h1>
    <p class="lead">Bienvenido a la página principal de Ctrl Web.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Reportes</h2>
        <ul>
            <li>Generar los reportes sobre los datos de la empresa.</li>
        </ul>
        <center>
            <img src="@Url.Content("~/fonts/reporteLogo.jpg")" width="250px" height="200px" alt="imgf" />
        </center>
    </div>
    <div class="col-md-5">
        <h2>Consultas de Precios</h2>
        <ul>
            <li>Visualizar los precios de los diferentes productos en existencia.</li>
        </ul>
        <center>
            <img src="@Url.Content("~/fonts/consultaLogo.png")" width="250px" height="200px" alt="imgf" />
        </center>
    </div>
    <div class="col-md-3">
        <h2>Inventario</h2>
        <ul>
            <li>Consulte el inventario de sus productos.</a></li>
        </ul>
        <center>
            <img src="@Url.Content("~/fonts/inventarioLogo.jpg")" width="250px" height="200px" alt="imgf" />
        </center>
    </div>
</div>