
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Inventario</title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            Inventario
            <asp:TextBox id="txtusuario" runat
        </div>
    </form>
    <div> 
    </div>
</body>
</html>
